{% extends "base.html" %}

{% block title %}{% if participant %}Редактирование данных участника
{% else %}
Регистрация{% endif %}
{% endblock %}

{% load static %}
{% block css %}{% static 'pages/form.css' %}{% endblock %}

{% block content %}

{% load user_filters %}
{% include "includes/header.html" %}
<main>
    <h1>
        {% if participant %}
        Редактирование данных участника
        {% else %}
        Регистрация
        {% endif %}
    </h1>

    <div class="card mx-auto col-md-8 " style="max-width: 50rem;">
        <div class="card-body">
            <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="row mb-3" aria-required={% if field.field.required %}"true"{%else%}"false"{%endif%}>
                    <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-end text-nowrap">
                        {{ field.label }}
                        {% if field.field.required %}<span class="required">*</span>{% endif %}
                    </label>
                    <div class="col-md-7">
                        {% if field.errors %}
                        {{ field|addclass:"form-control is-invalid" }}
                        <div id="{{ field.id_for_label }}" class="invalid-feedback">
                            {{ field.errors }}
                        </div>
                        {% else %}
                        {{ field|addclass:"form-control" }}
                        {% endif %}

                        {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                            {{ field.help_text|safe}}
                        </small>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                        {% if participant %}
                        Сохранить
                        {% else %}
                        Создать аккаунт
                        {% endif %}
                    </button>
                </div>
            </form>
        </div> <!-- card body -->
    </div> <!-- card -->
</main>
{% endblock content %}