{% extends "base.html" %}

{% block title %}{% if participant %}Редактирование данных участника
{% else %}
Регистрация{% endif %}
{% endblock %}

{% load static %}

{% block extrahead %}
<!-- Date widget in signup form -->
<script src="{% url 'js-catalog' %}"></script>
<script type="text/javascript" src="{% static '/admin/js/core.js' %}"></script>
<!-- <link rel="stylesheet" href="{% static 'admin/css/base.css' %}"> -->
<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
{% endblock extrahead%}

{% block content %}

{% load user_filters %}
{% include "includes/header.html" %}
<main>
    <h1>
        {% if participant %}
        Редактирование данных участника
        {% else %}
        Регистрация
        {% endif %}
    </h1>

    <div class="card mx-auto col-md-8 my-3" style="max-width: 50rem;">
        <div class="card-body">
            {{ form.media }}
            <form method="post" enctype="multipart/form-data" {% if participant %}
                action="{% url 'participant_update' participant.id%}" {% else %} action="{% url 'signup' %}" {% endif%}>
                {% csrf_token %}
                {% for field in form %}
                <div class="row mb-3" aria-required={% if field.field.required %}"true"{%else%}"false"{%endif%}>
                    <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-end text-nowrap">
                        {{ field.label }}
                        {% if field.field.required %}<span class="required">*</span>{% endif %}
                    </label>
                    <div class="col-md-7 {% if field.name == 'birthday' %} d-flex text-nowrap{% endif %}">
                        {% if field.errors %}
                        {{ field|addclass:"form-control is-invalid" }}
                        <div id="{{ field.id_for_label }}" class="invalid-feedback">
                            {{ field.errors }}
                        </div>
                        {% else %}
                        {% if field.name == "birthday" %}
                        {{ field|addclass:"form-control vDateField" }}
                        {% else %}
                        {{ field|addclass:"form-control" }}
                        {% endif %}

                        {% endif %}

                        {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                            {{ field.help_text|safe}}
                        </small>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="text-center">
                        {% if participant %}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="{% url 'password_change' %}" class="btn btn-link btn-sm">
                            Изменить пароль
                        </a>
                        <a href="{% url 'participant_delete' participant.id%}" class="btn btn-link btn-sm">
                            Удалить
                        </a>
                        {% else %}
                        <button type="submit" class="btn btn-primary mx-auto">Создать аккаунт</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div> <!-- card body -->
    </div> <!-- card -->
</main>
{% endblock content %}