<footer class="footer mt-auto border-top bg-light">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-md-8 order-last order-md-first">
                <span class="text-muted">
                    Соревнования по виндсерфингу <span style="color:red">Primorsk</span> Cup © {{ year }}, все права
                    защищены.
                </span>
            </div>
            <div class="col">
                <a href="{% url 'about:author' %}" class="link-secondary">Об авторе</a>
            </div>
            <div class="col">
                <a href="{% url 'about:tech' %}" class="link-secondary">Технологии</a>
            </div>
        </div>
    </div>

</footer>