<header class="navbar navbar-expand-md navbar-light bg-light">
    <nav class="container-xxl flex-wrap navbar-light bg-light" aria-label="Main navigation">
        <a class="navbar-brand" href="/" aria-label="PrimorskCup">PrimorskCup</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
            aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="bdNavbar">
            <ul class="navbar-nav flex-row flex-wrap">
                <li class="nav-item col-md-auto">
                    <a class="nav-link py-1 px-2{% if competitions %} active" aria-current="true{% endif %}"
                        rounded-pill href="{% url 'about:competitions' %}">Соревнования</a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link py-1 px-2{% if contacts %} active" aria-current="true{% endif %}"
                        href="{% url 'about:contacts' %}">Контакты</a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link py-1 px-2{% if participants %} active" aria-current="true{% endif %}"
                        href="{% url 'participants' %}">
                        Участники
                        <span class="badge rounded-pill bg-primary" id="counter">{{ participants_count }}</span>
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link py-1 px-2{% if sponsors %} active" aria-current="true{% endif %}"
                        href="{% url 'about:sponsors' %}">Спонсоры</a>
                </li>
            </ul>

            <hr class="text-black-50 my-0">

            <ul class="navbar-nav flex-row flex-wrap ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item col-md-auto">
                    <a class="nav-link py-1 px-2" href="{% url 'participant-details' user.id %}">
                        <small class="ms-2">{{ user }}</small>
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link py-1 px-2" href="{% url 'logout' %}">
                        <small class="ms-2">Выход</small>
                    </a>
                </li>
                {% else %}
                <li class="nav-item col-md-auto">
                    <a class="nav-link py-1 px-2" href="{% url 'login' %}">
                        <small class="ms-2">Войти</small>
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link py-1 px-2" href="{% url 'signup' %}">
                        <small class="ms-2">Зарегистрироваться</small>
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</header>