{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% include "includes/header.html" %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Об авторе проекта</h1>
    </div>
    <div class="custom-center-block">
        <p class="custom-text-block">Меня зовут Антон.</p>
        <p class="custom-text-block">Я сделал этот сайт в рамках обучения в <a href="https://praktikum.yandex.ru" target="_blank">Яндекс Практикум</a> по программе <a href="https://praktikum.yandex.ru/profile/backend-developer/" target="_blank">Python-разработчик</a></p>
    
        <h3>Проект Foodgram</h3>    
        <p class="custom-text-block">Приложение «Продуктовый помощник»: сайт, на котором пользователи могут публиковать рецепты, добавлять чужие рецепты в избранное и подписываться на публикации других авторов. Сервис «Список покупок» позволит пользователям создавать список продуктов, которые нужно купить для приготовления выбранных блюд.</p>
        <div class="custom-text-block">
            <a href="https://github.com/Bazulenkov" target="_blank">Мой Github-профайл</a>
        </div>
    </div>
</main>
{% endblock %}