{% extends "base.html" %}
{% block title %}О соревнованиях{% endblock %}
{% load static %}
{% block css %}{% static 'pages/shopList.css' %}{% endblock %}

{% block content %}
{% include "includes/header.html" with competitions=True %}
<section class="container">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v10.0"
        nonce="4myzGQ2n"></script>

    <h1>О соревнованиях</h1>
    <p>Это будут мега крутые соревы. Понаедут спортсмены со всей России.</p>
    <p>Обязательно будут призы! Душевная компания, незабываемые гонки.</p>
    <p>Мы по специальному заказу изготовим Кубок!</p>
    <div>
        <p>Поделись ссылкой на Facebook!!!</p>

        <!-- Facebook share button code -->
        <button class="fb-share-button btn btn-primary position-relative" data-href="http://primorsk-cup.ru" data-layout="button_count" data-size="large"><a
                target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprimorsk-cup.ru%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore text-white">Поделиться</a></div>
    </div>
    <div class="my-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"
            class="bi bi-calendar-event float-start mx-2" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
            <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        <h4 class="mt-2">Даты</h4>
        <p>Соревнования будут проходить со 2 по 6 июля 2021 года.</p>
    </div>

    <div class="my-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"
            class="bi bi-book float-start mx-2" viewBox="0 0 16 16">
            <path
                d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg>
        <h4>Положение</h4>
        <p class="custom-text-block">
            <a href="{% static 'reglament_openfoil.pdf' %}" target="_blank">Положение по "OpenFoil"</a>
        </p>
    </div>
</section>
<section class="location">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"
            class="bi bi-map float-start mx-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z" />
        </svg>
        <h4>Место проведения соревнований:</h4>
        <p>Соревнования будут проходить недалеко от г. Приморск Ленинградской области.</p>
        <p>188910, Ленинградская область, Выборгский район, г. Приморск, п. Манола, ул. Береговая, 24.</p>
        <p>Race office будет находиться на территории <a
                href="http://bazaadmiral.ru/bazaadm/manola/uslovija-prozhivanija-manola" target="_blank">Базы отдыха
                "Манола"</a></p>
        <p class="shadow-lg p-3 mb-5 bg-warning rounded">Телефон для бронирования: +79681838199. При бронировании по паролю
            “Регата” будет предоставлена скидка.</p>

        <!-- TODO Добавить карту через js https://developers.google.com/maps/documentation/javascript/adding-a-google-map#javascript 
          https://habr.com/en/post/324880/-->

        <!-- <div style="width: 100%"><iframe scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=60.412900,%2028.576887+(Primorsk%20Cup)&amp;t=&amp;z=9&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                width="100%" height="600" frameborder="0"></iframe></div> -->


    </div>
</section>
{% endblock %}