{% extends "base.html" %}
{% block title %}О соревнованиях{% endblock %}
{% load static %}
{% block css %}{% static 'pages/shopList.css' %}{% endblock %}

{% block content %}
{% include "includes/header.html" with competitions=True %}
<section class="container">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v10.0"
        nonce="4myzGQ2n"></script>

    <h1>О соревнованиях</h1>
    <div>
        <p>Это будут мега крутые соревы. Понаедут спортсмены со всей России.</p>
        <p>Даты проведения сорвенований такие-то</p>
        <p>А ты поделился ссылкой в соц сетях на ивент?</p>

        <!-- Facebook share button code -->
        <div class="fb-share-button" data-href="http://primorsk-cup.ru" data-layout="button_count" data-size="large"><a
                target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprimorsk-cup.ru%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">Поделиться</a></div>


        <h3>Положение</h3>
        <p class="custom-text-block">Тест положения на много строк (или можно вставить сслыку на отдельную страницу</p>
    </div>
</section>
<section class="location">
    <div class="container">
        <h3>Место проведения соревнований:</h3>
        <div style="width: 100%"><iframe scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=60.412900,%2028.576887+(Primorsk%20Cup)&amp;t=&amp;z=9&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                width="100%" height="600" frameborder="0"></iframe></div>
    </div>
</section>
{% endblock %}