{% extends "base.html" %}
{% block title %}Наши спонсоры{% endblock %}
{% load static %}

{% block content %}
{% include "includes/header.html" with sponsors=True %}
<section class="container">

    <h1>Наши спонсоры</h1>
    <p>Мы очень рады, что есть люди, и компании, которые за ними стоят!</p>
    <p>И этим людям и компаниям небезразлично развитие спорта, и в частности виндсерфинга.</p>
    <div>Поприветствуем наших спонсоров!</div>

    <div class="my-4">
        <!-- <h4>Инженер-Проект</h4> -->
        <img class="img-fluid " src="{% static 'sponsors/ip.png' %}">
        <p class="mt-2">Общество с ограниченной ответственностью «Инженер-Проект» создано в 2008 году. Основными видами
            деятельности
            ООО «Инженер-Проект» являются: инженерные изыскания в строительстве; технические обследования зданий и
            сооружений; строительный контроль за ходом строительства объектов; выполнение полного спектра проектных
            работ для строительства или реконструкции объекта; выполнение кадастровых работ.</p>
    </div>
    <div class="my-4">
        <!-- <h4 class="mt-2">Интернет-магазин "Диана Спорт Синдикат"</h4> -->
        <img class="img-fluid " src="{% static 'sponsors/Diana.png' %}">
        <p>Diana Sport Syndicate - магазин снаряжения для водного и горнолыжного спорта от ведущих мировых брендов,
            основанный в 1993 году. У нас Вы найдете всю необходимую экипировку для экстремального водного спорта от
            досок, парусов и кайтов до аксессуаров и запчастей, а зимой сможете покорять снежные склоны в комфортной
            одежде последних моделей. Для того чтобы Ваше снаряжение всегда оставалось в идеальном состоянии, Diana
            Sport Syndicate осуществляет полный ски-сервис: заточка кантов, нанесение парафина, ремонт глубоких царапин,
            установление креплений на лыжи и сноуборды. http://www.synd.ru/</p>
    </div>
    <div class="row my-4">
        <!-- <h4>VTS</h4> -->
        <img class="float-start w-50" src="{% static 'sponsors/VTS.png' %}">
        <p>
            Компания «ВнешТрейдСервис ЛТД» является официальным дистрибьютором оборудования и экипировки для водных
            видов
            спорта ведущих мировых брендов с 2000 года. «ВнешТрейдСервис ЛТД» ведет оптовые поставки снаряжения для
            виндсерфинга, SUP-серфинга, яхтинга, серфинга, каякинга, фойлинга, кайтбординга, вейкборда, водных лыж, а
            также различных товаров для отдыха на воде. «ВТС ЛТД» обеспечивает спортивные школы, станции проката, базы
            отдыха специализированным оборудованием для водных развлечений. Розничные магазины компании представлены по
            всей России, в которых спортсмены и любители имеют возможность протестировать и приобрести оборудование и
            экипировку. https://vtsport.ru/
            H2OSport — это высокое качество в совокупности с доступными ценами, одежда различных стилей, среди которых
            вы сможете найти именно ваш — заходите в наш каталог товаров и выбирайте. В нашем магазине представлен
            широкий выбор товаров для плавания, яхтенной одежды для различных задач: для участия в океанских гонках и
            прибрежных плаваниях, для прогулок и походов на яхте, для защиты от ультрафиолета, холода и воды.
        </p>
    </div>
    <!-- <div class="my-4">
        <h4>H2O</h4>
    </div> -->
</section>

{% endblock %}