{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% include "includes/header.html" %}
<main>
    <div class="container">
        <h1>Технологии</h1>
        <p>При создании этого сайта использовались следующие технологии:</p>
        <ul>
            <li><a href="https://www.python.org">Python</a></li>
            <li><a href="https:/www.djangoproject.com">Django</a></li>
            <li><a href="https:///www.django-rest-framework.org">Django REST framework</a></li>
            <li><a href="https://pypi.org/project/Pillow/">Pillow</a></li>
            <li><a href="https://pypi.org/project/sorl-thumbnail/">Sorl-thumbnail</a></li>
            <li><a href="https://weasyprint.org">WeasyPrint</a></li>
            <li><a href="https://www.postgresql.org">PostgreSQL</a></li>
            <li><a href="https://www.docker.com">Docker</a></li>
            <li><a href="https://gunicorn.org">Gunicorn</a></li>
            <li><a href="https://nginx.org">NGINX</a></li>
            <li><a href="https://github.com/features/actions">GitHub Actions</a></li>
            <li><a href="https://getbootstrap.com">Bootstrap</a></li>
        </ul>
    </div>
</main>
{% endblock %}