{% extends "base.html" %}

{% block content %}
{% include "includes/header.html" %}
<main class="container">
    <div class="row justify-content-center">
        <div class="d-grid col-md-8 p-5">
            <div class="card text-center">
                <div class="card-header">Пароль изменён</div>
                <div class="card-body">
                    <p class="card-text">Пароль изменён успешно.</p>
                    <a href="{% url 'index' %}" class="btn btn-primary">Перейти на главную</a>
                </div> <!-- card body -->
            </div> <!-- card -->
        </div> <!-- col -->
    </div> <!-- row -->
</main>
{% endblock %}