{# шаблон base.html **#}


<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Primorsk Cup</title>
    {% load static %}
    <link rel="stylesheet" href="{% block css %}{% static 'pages/index.css' %}{% endblock %}">
</head>
<body class="body">
    {% block content %}
        {% include "includes/header.html" with participants=True %}

                <!-- Содержимое страницы -->
    {% endblock content %}
    {% include "includes/footer.html" %}

</body>
</html>
