{% extends "base.html" %}
{% block title %}Участники{% endblock %}
{% load static %} 
{% block css %}{% static 'pages/shopList.css' %}{% endblock %}

{% block content %}
{% include "includes/header.html" with participants=True %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список участников</h1>
        {% include "includes/nav.html"%}
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for participant in participant_list %}
            <li class="shopping-list__item">
                <div class="recipe recipe_reverse">
                    {% load thumbnail %} {% thumbnail participant.image "90x90" crop="center" upscale=True as im %}
                    <img src="{{ im.url }}" alt="{{ participant.username }}" class="recipe__image recipe__image_big"> {% endthumbnail %}
                    <h3 class="recipe__title">{{ participant }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ participant.discipline }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'participants_list_pdf' %}"><button class="button button_style_blue">Скачать список</button></a>


    </div>
</main>
{% endblock content %}
