{% extends "base.html" %}
{% block title %}2021{% endblock %}
{% load static %}

{% block content %}
{% include "includes/header.html" %}
<link rel="stylesheet" href="{% static 'main_style.css' %}">
<main class="container">
    <img class="img-fluid w-100 mb-3" src="{% static 'main_header.png' %}">
    <p>
        Дорогие друзья, приглашаем вас на ставшие уже традиционными соревнования по
        виндсерфингу, в Приморске. Соревнования будут проходить в двух классах:
    </p>
    <div class="higlight_text">
        <div class="rect-item ">Олимпийский IQFoil</div>
        <div class="rect-item ">Открытый класс OpenFoil</div>
    </div>
    <p>И в трех дисциплинах:</p>


    <div class="higlight_text">
        <div class="rect-item ">Курс-рейс</div>
        <div class="rect-item ">Слалом</div>
        <div class="rect-item ">Марафон</div>
    </div>
    <p>Для молодых участников (до 19 лет) эти соревнования являются этапом отбора на
        международные соревнования 2021 года.</p>

    <p>Спортсмены будут бороться за шикарный переходящий кубок</p>
    <h2>"PRIMORSK CUP"</h2>


    <div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="{% static 'cup1.png' %}" width="100%">
                </div>
                <div class="col-4">
                    <img src="{% static 'cup2.png' %}" width="100%">
                </div>
                <div class="col-4">
                    <img src="{% static 'cup3.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="my-5">
        <p>Чистая вода, ровный Балтийский ветер, идеальная фойловая акватория, красивый
            сосновый берег, песчаные пляжи – все это привлекает большое количество спортсменов с разных
            уголков нашей страны.</p>
        <img class="img-fluid w-100" src="{% static 'sunset.png' %}">
    </div>


    <h1>Видео предыдущих гонок</h1>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <video controls w-100">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jjl4dTikmlA?controls=0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <!-- <source src="{% static 'FvsF 2019.mp4' %}" type="video/mp4"> -->
                    </video>

                </div>
                <div class="col-sm">
                    <video controls width="100%">
                        <source src="{% static 'FvsF 2020.mp4' %}" type="video/mp4">
                    </video>

                </div>
            </div>
        </div>
    </div>
    <h1 class="h1">Место проведения</h1>

    <p>В 156 км от Санкт-Петербурга на берегу Финского залива, неподалеку от
        города Приморска расположилась база отдыха Манола. На её территории разместились пансионат,
        несколько коттеджей и летних дачных домиков, которые могут разместить в общей сложности до
        280 человек банный комплекс с бассейном и кинозал.</p>

    <img class="img-fluid w-100 mb-3" src="{% static 'shore.png' %}">


    <p>Всю подробную информацию можно найти на официальном сайте: <a
            href="http://bazaadmiral.ru/bazaadm/manola/uslovija-prozhivanija-manola">База отдыха
            Манола</a></p>

    <p>Телефон для бронирования: +79681838199. При бронировании по паролю
        “Регата” будет предоставлена скидка.</p>



    <h1>Карта мероприятия</h1>
    <img class="img-fluid w-100 mb-3" src="{% static 'map.png' %}">

    <h1>Карта глубин</h1>
    <img class="img-fluid w-100 mb-3" src="{% static 'map_depth.png' %}">


    <h1>Информация о IQFoil</h1>


    <div class="higlight_text">
        <div>
            Парусный спорт становится более зрелищным и интересным. В частности,
            всем известный класс RS:X (виндсерфинг) покидает Олимп и уступает место новому более
            зрелищному классу - IQ Foil, который мы увидим уже на Олимпийских играх 2024.
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="{% static 'foil1.png' %}" width="100%">
                </div>
                <div class="col-6">
                    <img src="{% static 'foil2.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>

    <p>Основное отличие этих двух классов: RS:X - парус и доска с плавником,
        IQ Foil - парус, доска и подводное крыло. Как результат получаем выше скорость, лучше
        углы, жестче борьбу. Главное преимущество IQ Foil - это полет, т.к. вместо плавника
        расположен шедевр инженерной мысли - фойл.</p>


    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="{% static 'equipment1.png' %}" width="100%">
                </div>
                <div class="col-sm">
                    <div style=" display: flex;align-items: center;justify-content: center;height: 100%">
                        <img src="{% static 'equipment2.png' %}" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>Получается райдер не глиссирует по воде, как на RS:X, а за счет
        фойла поднимается над водой на 20-70 см. Для развития максимальной скорости нужно
        подняться как можно выше и удерживать высоту.</p>
</main>
{% endblock content %}