{% extends "base.html" %}
{% block title %}Участники{% endblock %}
{% load thumbnail %}

{% block content %}
{% include "includes/header.html" with participants=True %}
<main class="container" style="position: relative">
    <nav id="navbar-participants" class="navbar position-sticky navbar-light px-3 border-bottom">
        <span class="navbar-brand">Участники</span>
        <ul class="nav nav-pills">
            {% for disciplin in view.all_disciplines %}
            <li class="nav-item">
                <a class="nav-link" href="#{{ disciplin.slug}}">@{{ disciplin.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div data-bs-spy="scroll" data-bs-target="#navbar-participants" data-bs-offset="0" tabindex="0">
        {% for disciplin in view.all_disciplines %}
        <div id="{{ disciplin.slug }}" class="my-3 p-3 bg-body rounded shadow-sm">
            <h2 class="h6 border-bottom pb-2 mb-0">{{ disciplin.title}}</h2>
            {% for participant in disciplin.participants.all %}
            <div class="d-flex text-muted pt-3">
                <a href="{{ participant.get_absolute_url }}">
                    {% thumbnail participant.image "32x32" crop="center" upscale=True as im %}
                    <img src="{{ im.url }}" alt="{{ participant.username }}"
                        class="bd-placeholder-img flex-shrink-0 me-2 rounded">
                    {% endthumbnail %}
                </a>

                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <a href="{{ participant.get_absolute_url }}" class="text-gray-dark">
                            {{ participant}}
                        </a>
                        <span>{{ participant.city }}</span>
                    </div>
                    <!-- <span class="d-block mb-3">{{ participant.city }}</span> -->
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <small class="d-block text-end mb-3">
            <a href="{% url 'participants_list_pdf' %}">Скачать список</a>

        </small>
    </div>
</main>
{% endblock content %}