{% extends "base.html" %}
{% block title %}{{ participant }}{% endblock %}
{% load static %}

{% block css %}{% static 'pages/single.css' %}{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<main class="container">
    <div class="card my-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-6">
                {% load thumbnail %}
                {% thumbnail participant.image "360x360" crop="center" upscale=True as im %}
                <img src="{{ im.url }}" class="img-fluid" alt="{{ participant }}">
                {% endthumbnail %}
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="h5">{{ participant }}</h1>
                        {% if user == participant %}
                        <a href="{% url 'participant_update' participant.id %}" class="card-link">Редактировать</a>
                        {% endif %}
                    </div>
                    <p class="card-text">{{ participant.birthday }}</p>
                    {% if participant.category %}
                    <p class="card-text">Спортивный разряд: {{ participant.category }}</p>
                    {% endif %}
                    <p class="card-text">{{ participant.club }}</p>
                    <p class="card-text">{{ participant.trainer }}</p>
                    <p class="card-text">{{ participant.city }}</p>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}